{{for forecast.byDate}}
<div data-time="{{:full_date}}" class="day panel {{:stat.style}}">
    <div class="top">
        <div class="day_name">{{:date}}</div>
       <!--  {{if stat.ico}}
            <div class="day_icon"><img style="width:36px; height:36px" src="http://openweathermap.org/img/w/{{:stat.ico}}.png"/></div>
        {{/if}} -->
       <!--  <div class="day_text_wrapper">
            <p class="day_text">{{:stat.weather}}</p>
        </div> -->
        <div class="temperature_range">
            <div class="ranger">
                <span class="temperature_min">Min: <span>{{:stat.min}} &#8451;</span></span>
                <span class="temperature_max">Max: <span>{{:stat.max}} &#8451;</span></span>
            </div>
        </div>
    </div>
</div>
{{/for}}
