.panel:first-child {
    border-top: 1px solid #DDD;
}

.panel {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    -webkit-transition: transform 0.15s ease-in;
    -moz-transition: transform 0.15s ease-in;
    -o-transition: transform 0.15s ease-in;
    transition: transform 0.15s ease-in;
    -webkit-transition: -o-transform 0.15s ease-in;
    -moz-transition: -o-transform 0.15s ease-in;
    -o-transition: -o-transform 0.15s ease-in;
    transition: -o-transform 0.15s ease-in;
    -webkit-transition: -ms-transform 0.15s ease-in;
    -moz-transition: -ms-transform 0.15s ease-in;
    -o-transition: -ms-transform 0.15s ease-in;
    transition: -ms-transform 0.15s ease-in;
    -webkit-transition: -moz-transform 0.15s ease-in;
    -moz-transition: -moz-transform 0.15s ease-in;
    -o-transition: -moz-transform 0.15s ease-in;
    transition: -moz-transform 0.15s ease-in;
    -webkit-transition: -webkit-transform 0.15s ease-in;
    -moz-transition: -webkit-transform 0.15s ease-in;
    -o-transition: -webkit-transform 0.15s ease-in;
    transition: -webkit-transform 0.15s ease-in;
    background-color: #F8F8F8;
}

.panel:hover {
    background-color: #EEE;
}

.panel.revealed:hover {
    background-color: transparent;
}

.panel.top_border {
    border-top: 1px solid #DDD;
}

.panel .top {
    height: 60px;
}

.panel .state_color {
    position: absolute;
    display: none;
    top: 28px;
    left: 0;
    width: 10px;
    height: 20px;
    overflow: hidden;
}

.panel .state_color span {
    position: absolute;
    display: block;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.panel.rain .state_color span,
.panel.snow .state_color span {
    background: -webkit-gradient(linear, left top, left bottom, from(#51afe0), to(#1f7dae));
}

.temperature_range .temperature_min,
.temperature_range .temperature_avg {
    text-align: right;
}

.temperature_range .temperature_max {
    text-align: left;
}

.panel .details {
    cursor: auto;
    background-color: #F8F8F8;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.panel .details .text {
    margin: 20px auto 20px;
    font-size: 18px;
    text-align: center;
    color: #222;
}

.panel .details .text .title {
    display: inline-block;
    margin: 0 4px;
    text-transform: uppercase;
    font-size: 14px;
    color: #aaa;
}

.panel .details .text .val {
    display: inline-block;
    margin: 0 30px 0 0;
    font-size: 20px;
}

.panel .details .text .more {
    display: inline-block;
    text-transform: uppercase;
    color: #D15549;
    text-decoration: none;
}

.panel .details .text .more:hover {
    text-decoration: underline;
}

.panel.revealed .details {
    opacity: 1;
}

.day_text_wrapper {
    display: table;
    position: absolute;
    top: 0;
    left: 210px;
    width: 375px;
    height: 60px;
}

.day_text {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    color: #666;
}

.clouds .day_text {
    color: #39CCCC;
}

.rain .day_text {
    color: #0074D9;
}

.day_icon {
    position: absolute;
    top: 9px;
    left: 165px;
    height: 60px;
    line-height: 60px;
    width: 50px;
}

.temperature_range {
    position: absolute;
    top: 20px;
    left: 540px;
    width: 200px;
    height: 20px;
}

.temperature_range .ranger {
    position: relative;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.temperature_range .ranger > span {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #666;
}

.temperature_range .ranger .temperature_min {
    left: 0;
    text-align: left;
}


.temperature_range .ranger .temperature_avg {
    font-size: 18px;
    line-height: 18px;
    left: 60px;
    text-align: left;
}

.temperature_range .ranger .temperature_max {
    left: 100px;
    text-align: left;
}

.hour,
.day_name {
    position: absolute;
    top: 13px;
    color: #001f3f;
    left: 30px;
    text-align: right;
}

.day_name {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 35px;
}

.hour {
    font-size: 18px;
    line-height: 40px;
}

#location_strip {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #111;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#location_strip div {
    display: inline-block;
    vertical-align: middle;
}

body.desktop.tablet #location_strip {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#location_strip.editing #current_location_entry {
    width: 0;
    padding: 0;
}

.divider {
    width: 2px;
    height: 39px;
    line-height: 42px;
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

#current_location_entry {
    overflow: hidden;
    width: 134px;
    -webkit-transition: width 300ms ease;
    cursor: pointer;
}

#current_location {
    display: none;
}

#location_editing {
    margin: -4px 0 0 10px;
}

#location_editing a {
    text-decoration: none;
}

#location_editing button {
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 4px;
    line-height: 15px;
}

#location_editing_menu .none {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #CCC;
    white-space: nowrap;
}

.timeline .part {
    margin-left: 10px;
    height: 60px;
    position: relative;
}

.timeline .details {
    overflow: hidden;
}

.outlook .button {
    position: absolute;
    right: 25px;
    top: 18px;
    font-size: 22px;
    color: #BBB;
}

.panel:hover .button {
    color: #888;
}

.panel .button .minus {
    display: none;
}

.panel.revealed .button .plus {
    display: none;
}

.panel.revealed .button .minus {
    display: inline;
}
